/* Fonts */

body {-webkit-font-smoothing: antialiased;}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(/font/first.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(/font/second.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(/font/third.woff) format('woff');
}
@font-face {
    font-family: 'FontAwesome';
    src: url('/font/fontawesome-webfont.eot?v=3.1.1');
    src: url('/font/fontawesome-webfont.eot?#iefix&v=3.1.1') format('embedded-opentype'),
    url('/font/fontawesome-webfont.woff?v=3.1.1') format('woff'),
    url('/font/fontawesome-webfont.ttf?v=3.1.1') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#page{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
#sidebar{
    position: fixed;
    left:0px;
    margin-top: 20px;
    padding: 40px 0px 30px 20px;
    width:200px;
}
#sidebar img{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#sidebar ul{
    margin: 0px 10px 20px 0px;
    display:inline-block;
}
#sidebar .badge{
    padding: 2px 4px;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    margin-left: 6px;
    margin-top: 1px;
    margin-bottom: 30px;
    top:0px;
    position: absolute;
}
#sidebar div{
    position:  relative;
}
.white-block{
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 20px 20px 13px 20px;
    margin-bottom: 1px;
}
.card{
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: keep-all;
    white-space: normal;
}
.ask-card{
    margin-top:-3px;
    border-radius: 0;
    padding-top: 0;
}
.clear{
    clear:both;
}

/* User profile */
.view-image{
    display:inline-block;
    float:left;
    margin-right: 6px;
}
.view-user{
    float: left;
    margin: -6px 0px 0 6px;
    position: relative;
    width: 170px;
    line-height: 14px;
    letter-spacing:1px;
    filter: alpha(opacity=67);
    opacity: .67;
    color: #000;
}
.view-image img{
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.view-user h3{
    color:#000;
    opacity: .91;
    margin:0px;
}
.view-buttons{
    float: right;
    margin-top: 46px;
}
.view-tabs{
    display: inline-block;
    margin-top: 46px;
}

/* Responsive design */
@media(min-width: 1680px){
    .well{margin-right:100px}
    .welcome{margin-left:100px}
    .view-tabs{margin-left:100px}
    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
      width: 1470px;
    }
}
@media (min-width: 1200px) {
    #page{
        width: 70%;
    }
}
@media (min-width: 980px) {
    #page{
        width: 70%;
    }
    #image-form .span4{
        margin-left: 19px;
    }
}
@media (min-width: 979px) and (max-width: 1200px) {
    .card.hovercard {
            width:40%!important;
    }
    .login-well{
        float:right;
    }
}
@media(max-width: 979px){
    .navbar-fixed-top.navbar-absolute {
        position: absolute;
        margin: 0;
    }
    #page{
        margin-top: 76px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .card.hovercard {
        width:40%!important;
    }   
}
@media(max-width: 767px){
    .login-well{
        float:none;
        display:inline-block
    }
    .welcome{
        display:none;
    }
    #page {
        padding: 30px 0px 30px 0px!important;
        margin-top: 46px!important;
    }
    .card.hovercard {
            width: -moz-calc(100% - 20px)!important;
            width: -webkit-calc(100% - 20px)!important;
            width: -o-calc(100% - 20px)!important;
            width: calc(100% - 20px)!important;
    }
    .view-image img{
        margin-top: 7px;
        width:50px;
        height:50px;
    }
    .view-buttons{
        margin-top: 34px;
    }
}
@media (min-width: 600px) {
    .view-user{
        width: 300px;
    }
}

/* Bootplus */
.nav .badge{
    margin-left: 7px;
    margin-bottom: 3px;
}
.btn-navbar{
    min-height: 0px!important;
    height: 14px!important;
}
.page-header{
    color: #5a5a5a;
}
.well{
    background-color: #f1f1f1;
}
.answer-text{
    margin-left:61px;
}
.navbar .nav>li>a {
    max-width: none;
}
.btn-navbar{
    height: 16px;
    min-height: 16px;
}
.card .card-media {
    padding: 0;
    margin: 0;
    margin-top: 15px;
}
.card.hovercard {
    padding-top: 10px;
    overflow: visible;
    float: left;
    margin: 50px 10px 0px 10px;
}
.card.hovercard .info .desc{
}
.pager{
    display: none;
}

/* Forms */
#question-form select{
    margin-bottom: 0;
    width:110px;
}
#question-form textarea{
    width: -moz-calc(100% - 18px)!important;
    width: -webkit-calc(100% - 18px)!important;
    width: -o-calc(100% - 18px)!important;
    width: calc(100% - 18px)!important;
    resize: none; 
}
#user-settings input[type="text"], #user-settings input[type="password"], #user-settings textarea{
    width: -moz-calc(100% - 18px)!important;
    width: -webkit-calc(100% - 18px)!important;
    width: -o-calc(100% - 18px)!important;
    width: calc(100% - 18px)!important;
}
#user-create input[type="text"], #user-create input[type="password"], #user-create textarea{
    width: -moz-calc(100% - 18px)!important;
    width: -webkit-calc(100% - 18px)!important;
    width: -o-calc(100% - 18px)!important;
    width: calc(100% - 18px)!important;
}
.question_image{
    display: inline-block;
}
.question_image input{
    width: 90px !important;
    margin-top: 7px;
}
#Question_anonym_custom{
    margin-top: 16px;
    width: -moz-calc(100% - 18px)!important;
    width: -webkit-calc(100% - 18px)!important;
    width: -o-calc(100% - 18px)!important;
    width: calc(100% - 18px)!important;
}