.skylo {
    position:fixed;
    top: 0;
    left: 0;
    margin-top: -1px;
    width: 100%;
    background: none;
    z-index: 1031;
    border:0;
}

.skylo .bar{
    width:0%;
    height: 3px;
    margin:0;
    position:relative;
}

.skylo span{
    width:50px;
    height: 100%;
    display:block;
    border:0;
    position:absolute;
    top:-2;
    right:0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    opacity: 0.6;
}