ul.hybridauth-providerlist  {	
	list-style-type: none;
}

.hybridauth-provider {
    margin-left: 10px;
    margin-top: 1px;
}

.hybridauth-providerlist li.active {
	background-color:green;
	margin:5px;
}